
@{
    ViewBag.Title = "Show";
}

<div>
    @using (Html.BeginForm("Index", "Adding"))
    {
        <br /><br />
        
        <input id="account" type="text" name="galleryname" class="s" />
        <p>Gallery name</p>
        <input id="account" type="text" name="link" class="s" />
        <p>Link</p>
        <input id="Search" type="submit" class="b" value="Add new entry" />
    }
</div>

<h2>@ViewBag.Gallery</h2>

@foreach (var item in ViewBag.Message)
{
    <p>@item.Gallery</p>
    foreach (var adress in item.Images)
    {
        if (adress != null)
        {
            <a href="@adress">
                <img src="@adress" width="180px" />
            </a>
        }
    }
    <a href=@item.Gallery>Check out full gallery!</a>
    <br /><br /><br /><br /><br /><br />
}