@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>InFb without Fb</h1>
</div>
<br /><br />

<div>
    @using (Html.BeginForm("Show", "Gallery"))
    {
    <input id="account" type="text" name="galleryname" class="s" />
    <input id="Search" type="submit" class="b" value="Go to Gallery!" />
    }
</div>