@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>InFb</h1>
</div>
<br /><br />

<div>
    @using (Html.BeginForm("Index", "AddGallery"))
    {
    <input id="account" type="text" name="galleryname" class="s" />
    <input id="Search" type="submit" class="b" value="Add new gallery!" />
    }
</div>